NODE_ENV=development
JWT_SECRET=thisisafakesecretchangeit
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SYNCHRONIZE=false
POSTGRES_ENTITIES=/../**/*.entity.{js,ts}
POSTGRES_MIGRATIONS=/../**/data/migrations/*.{js,ts}
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
OPEN_TELEMETRY_COLLECTOR_URL=http://localhost:4319
POSTGRES_DB=booking
IDENTITY_PORT=3333
IDENTITY_SERVICE_NAME=identity-service
IDENTITY_RABBITMQ_EXCHANGE=identity
IDENTITY_OTEL_SERVICE_NAME=identity
FLIGHT_PORT=3344
FLIGHT_SERVICE_NAME=flight-service
FLIGHT_RABBITMQ_EXCHANGE=flight
FLIGHT_OTEL_SERVICE_NAME=flight
PASSENGER_PORT=3355
PASSENGER_SERVICE_NAME=passenger-service
PASSENGER_RABBITMQ_EXCHANGE=passenger
PASSENGER_OTEL_SERVICE_NAME=passenger
BOOKING_PORT=3366
BOOKING_SERVICE_NAME=booking-service
BOOKING_RABBITMQ_EXCHANGE=booking
BOOKING_OTEL_SERVICE_NAME=booking
